@{
    ViewBag.Title = "About";
}

<div class="mainabout">
    <h2>About Us</h2>
    <hr />

    <h3>Team Members</h3>
    <br />
    <p>Konstantin Denissov</p>
    <p>Rafael Dinis Cardoso Marques</p>
    <p>Tiago Miguel Magakhães de Bastos</p>
    <p>Edi Gonçalo Moreira Gonçalves</p>
    <p>Daniel Nunes Braga</p>
    <p>Marco Daniel Rodrigues Morgado</p>
    <p>Francisco da Silva Pereira</p>
    <p>Ricardo Cupertino Cardoso Marques</p>
</div>